.commentContainer {
  display: flex;
  margin-top: 20px;
}
.leftArrow {
  position: relative;
  /* border: 1px solid;
  border-color: rgba(27, 31, 35, 0.15);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; */
}

.leftArrow::before {
  position: absolute;
  color: rgb(36, 41, 46);
  content: "";
  display: block;
  border-style: solid solid outset;
  border-width: 8px;
  left: -16px;
  top: 11px;
  /* border-color: transparent; */
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(209, 213, 218);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
}
.commentBody {
  border: 1px solid rgba(27, 31, 35, 0.15);
  /* border-color: rgba(27, 31, 35, 0.15); */
  border-radius: 6px;
}
.userImage {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border-radius: 50%;
}
.userLogin {
  font-weight: 600;
  cursor: pointer;
  margin: 0px 8px;
  color: rgb(36, 41, 46);
}

.issueCommentHead {
  display: flex;
  width: 860px;
  font-size: 14px;
  color: rgb(88, 96, 105);
  border-bottom: 1px solid;
  border-color: rgba(27, 31, 35, 0.15);
  padding: 8px 16px;
  margin-bottom: 1px;
  overflow-wrap: break-word;
}

.leftContainer {
  width: 846px;
  display: block;
  line-height: 21px;
  font-size: 14px;
  color: rgb(36, 41, 46);
  padding: 15px;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
}
