.mainContainer {
  font-family: apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  line-height: 1.5;
  /* align-items: center; */
  /* margin-left: 350px; */
  /* margin-right: 500px; */
}
.comments {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  /* align-items: center; */
}
.issueDetails {
  font-size: 14px;
  line-height: 21px;
  max-width: 1180px;
  margin: 0px auto;
}

.titleBody {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 8px;
}

.title {
  color: rgb(36, 41, 46);
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.issueNumber {
  color: rgb(106, 115, 125);
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
}

.issueButton {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  margin-top: 8px;
  border: 1px solid;
  border-radius: 6px;
  background-color: rgb(46, 164, 79);
  color: rgb(255, 255, 255);
  padding: 3px 12px;
}
.issueTitleDetails {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 14px;
  margin-bottom: 16px;
  padding-bottom: 8px;
  overflow-wrap: break-word;
  border-bottom: 1px solid;
  border-color: rgba(27, 31, 35, 0.15);
}
.openButton {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid;
  border-radius: 26px;
  background-color: rgb(46, 164, 79);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 5px 25px;
  margin-right: 8px;
}
.userDetails {
  color: rgb(88, 96, 105);
  margin-bottom: 5px;
}

.userLogin {
  font-weight: 600;
  cursor: pointer;
  margin-right: 8px;
}

.leftArrow {
  position: relative;
  border: 1px solid;
  border-color: rgba(27, 31, 35, 0.15);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.leftArrow::before {
  position: absolute;
  color: rgb(36, 41, 46);
  content: "";
  display: block;
  border-style: solid solid outset;
  border-width: 8px;
  left: -16px;
  top: 11px;
  /* border-color: transparent; */
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(209, 213, 218);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
}

.userImage {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.issueCommentHead {
  display: flex;
  width: 860px;
  align-items: center;
  font-size: 14px;
  color: rgb(88, 96, 105);
  border-bottom: 1px solid;
  border-color: rgba(27, 31, 35, 0.15);
  padding: 8px;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
}

.bodyContainer {
  display: flex;
}

.leftContainer {
  width: 846px;
  display: block;
  line-height: 21px;
  font-size: 14px;
  color: rgb(36, 41, 46);
  padding: 15px;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
}
.rightContainer {
  width: 312px;
  padding: 0px 16px;
  /* margin-left: 30px; */
}
/* .elemenTopContainer {
  line-height: 16px;
  padding-top: 16px;
} */
.elementTitle {
  color: rgb(88, 96, 105);
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
}
.elementChild {
  color: rgb(88, 96, 105);
}

.labelComponent {
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  line-height: 18px;
  padding: 2.5px 7px;
  /* background-color: rgb(251, 202, 4); */
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 24px;
  font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial;
  text-size-adjust: 100%;
}
.elementContainer + .elementContainer {
  display: block;
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid;
  border-color: rgba(27, 31, 35, 0.15);
}
.subButton {
  border: 1px solid rgba(27, 31, 35, 0.15);
  background-color: rgb(250, 251, 252);
  color: rgb(36, 41, 46);
  border-radius: 6px;
  /* border-width: 1.11111px; */
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 12px;
  display: block;
  position: relative;
  text-align: center;
  width: 253px;
}
.childElements {
  display: flex;
  justify-content: space-between;
  padding: 4px 0px;
  margin: -4px 0px 4px;
}

/* new comment css */

.commentWrapper {
  display: flex;
  justify-content: center;
}
.avatarUrl {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}
.leftArrow {
  position: relative;
}

.leftArrow::before {
  position: absolute;
  color: rgb(36, 41, 46);
  content: "";
  display: block;
  border-style: solid solid outset;
  border-width: 8px;
  left: -16px;
  top: 11px;
  /* border-color: transparent; */
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(209, 213, 218);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
}

.commentBox {
  border: 1px solid rgb(225, 228, 232);
  /* background-color: rgb(225, 225, 225); */
  width: 850px;
  border-radius: 6px;
}

.commentTabNav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(225, 228, 232);
  line-height: 21px;
  margin-bottom: 8px;
  color: rgb(36, 41, 46);
}
.TabNavTabs {
  font-size: 14px;
  margin: 8px 8px -1px 8px;
  display: block;
  /* flex-basis: auto; */
  /* flex-shrink: 1; */
  /* flex-shrink: 1; */
}
.writeButton {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
  color: rgb(36, 41, 46);
  background-color: white;
  border-color: rgb(225, 228, 232);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-top-width: 1.1111px;
  border-right-width: 1.11111px;
  border-left-width: 1.11111px;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.prevButton {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
  color: rgb(36, 41, 46);
  background-color: white;
  border-color: rgb(225, 228, 232);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-top-width: 1.1111px;
  border-right-width: 1.11111px;
  border-left-width: 1.11111px;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.writeContent {
  margin: 8px;
}
.commentTextarea {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 8px;
  width: 815px;
  max-width: 100%;
  height: 100px;
  min-height: 100px;
  max-height: 500px;
  color: rgb(36, 41, 46);
  border-left: solid 1em rgb(225, 228, 232);

  border-bottom-style: dashed;
  border-bottom-width: 1.11111px;
  border-bottom-color: rgb(223, 226, 229);
  border-top-left-radius: 6px;
  border-top-style: solid;
  border-top-width: 1.1111px;
  border-top-color: rgb(225, 228, 232);
  border-right-width: 1.11111px;
  border-right-style: solid;
  border-right-color: rgb(225, 228, 232);
  border-top-right-radius: 6px;
}
.dragText {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  padding: 7px 10px;
  width: 815px;
  max-width: 100%;
  color: rgb(88, 96, 105);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
.dragAndDropText {
  padding: 5px;
  border-top-style: none;
  border-top-width: 1.1111px;
  border-top-color: rgb(225, 228, 232);
  border-bottom-style: solid;
  border-bottom-width: 1.11111px;
  border-bottom-color: rgb(223, 226, 229);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left-width: 1.11111px;
  border-left-style: solid;
  border-left-color: rgb(225, 228, 232);
  border-right-width: 1.11111px;
  border-right-style: solid;
  border-right-color: rgb(225, 228, 232);
}
.markDownButton {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 8px 8px 8px;
}
/* .closeIssueBtn {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 16px;
  text-align: center;
  cursor: pointer;
  color: rgb(36, 41, 46);
  border-color: rgba(27, 31, 35, 0.1);
  border-style: solid;
  border-width: 1.11111px;
  border-radius: 6px;
} */

.newIssuebtn {
  background-color: rgb(148, 211, 162);
  /* color: rgba(255, 255, 255, 0.8); */
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 16px;
  text-align: center;
  cursor: pointer;
  color: rgb(36, 41, 46);
  /* border-color: rgba(27, 31, 35, 0.1); */
  border-style: solid;
  border-width: 1.11111px;
  border-radius: 6px;
  margin-left: 8px;
}
